@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css");

html {
  height: auto;
}
body {
  background-color: rgb(9, 18, 24);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  margin: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  height: 100%;
}
.header {
  height: 15%;
  width: 100%;
  display: block;
}
div {
  margin-top: 80vh;
  color: white;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
}
.defaultFont {
  color: white;
  font-family: Georigia, Serif;
  /*FontGeorgia*/
}
.footer {
  width: 100%;
  height: 10%;
  clear: both;
}
